body {
    background-color: #2d8652;
    font-family: sans-serif;
}

h1 {
    font-size: 300%;
    text-transform: capitalize;
}

p {
    font-size: 150%;
}

p.blanco {
    color: white;
    font-family: serif;
    font-style: oblique;
}

p.rosilla {
    color: #ffdfb3;
    font-family: sans-serif;
}

p.marron {
    color: #ff9f1a;
    font-family: monospace;
    font-size: 200%;
}

p.rosa {
    color: #e6194d;
    font-family: cursive;
}