body{
    background-color: #8a675c;
    color: white;
    font-family: sans-serif;
    text-align: justify;
    margin: 10px 15%;
    font-size: 24px;
}

h1{
    margin: 0;
    font-size: 32px;
    text-align: center;
}

p{
    line-height: 50px;
}

nav{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

p a{
    border: #195366 5px solid;
    border-radius: 5px;
    background-color: #d6edf5;
    color: #195366;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}